.card {
  background: #ffffff;
  padding: 20px;
  border-radius: 14px;
  box-shadow: 0 8px 20px rgba(0,0,0,0.05);
}

.table {
  width: 100%;
  border-collapse: collapse;
}

.table th {
  background: #fff0f6;
  color: #ff4f9a;
  font-weight: 700;
}

.table th,
.table td {
  padding: 12px;
  border-bottom: 1px solid #eee;
}

select {
  padding: 6px 8px;
  border-radius: 6px;
  border: 1px solid #ddd;
}

/* ===== AKSI ===== */
.aksi {
  display: flex;
  gap: 8px;
}

button {
  border: none;
  padding: 6px 12px;
  border-radius: 8px;
  cursor: pointer;
  font-weight: 600;
  color: white;
}

.btn-edit {
  background: #3b82f6;
}

.btn-delete {
  background: #ef4444;
}

button:hover {
  opacity: 0.9;
}
